*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;

}


nav{
    max-width: 100%;
    justify-content: space-around;
}

.main-container{

    width: 70%;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto auto;
}

.hero > img{
    height: auto;
    max-width: 100%;
}


.entrys {
    max-width: 50%;
    margin: auto;
}


.paragraph{
    font: 14px;
}

.para-footer{
    font-size: 10px;
}

footer{
    background-color: #ededed;
}
.footer-links{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footer-links ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-links ul li{
    list-style: none;
    margin: 5px;
}

.footer-links ul li a{
    text-decoration: none;
}

.promo{
    max-width: 50%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    
}